html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: blanchedalmond;
}

p {
  font-size: 1.2em;
}

#nav {
  display: flex;
  margin-left: 30px;
}

.nav-link {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active {
  background-color: burlywood;
  border-width: 2px;
}

#content {
  background-color: burlywood;
  padding: 10px 10px 30px 10px;
  margin: 0 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px grey, -1px -1px 1px grey;
}

.homepage-img {
  width: 95%;
  margin-left: 2.5%;
  height: auto;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 300px;
  height: 350px;
  background-color: wheat;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  /* border: 1px solid grey; */
}

.card-img {
  /* width: 300px; */
  /* height: 300px; */
  height: 270px;
  width: 270px;
  margin-top: 15px;
  margin-left: 15px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  border-radius: 10px;
}

.card-text {
  display: flex;
  justify-content: space-around;
}
